/* --- Global & Fonts --- */
body {
    background-color: #FFE8CE;
    font-family: 'Kelson Sans', sans-serif;
    color: var(--noir);
}

.admin-wrapper {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.admin-title {
    font-family: 'Kelson Sans';
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
}


.card-admin {
    background: white;
    border: 3px solid var(--noir);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 0px var(--noir);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.recipe-name {
    font-family: 'Kelson Sans'; 
    font-size: 2.2rem;
    font-weight: bold;
}

.badge-animal {
    background: var(--vert);
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    border: 2px solid var(--noir);
    text-transform: uppercase;
    font-size: 0.8rem;
}


.details-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-top: 20px;
}

.ing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.ing-tag {
    background: var(--jaune);
    border: 2px solid var(--noir);
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
}


.card-footer {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 2px dashed #ddd;
}

.btn-group {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.btn-publier, .btn-danger {
    padding: 12px 25px;
    border-radius: 50px;
    border: 3px solid var(--noir);
    font-family: 'Kelson Sans';
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-publier { background: var(--vert); color: white; }
.btn-danger { background: var(--rouge); color: white; }

.btn-publier:hover, .btn-danger:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0px var(--noir);
}


.table-container {
    background: white;
    border: 3px solid var(--noir);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 8px 8px 0px var(--noir);
}

table { 
    width: 100%; 
    border-collapse: collapse; }


th { background: var(--noir);
     color: white;
      padding: 15px; text-align: left; }


td { padding: 15px;
     border-bottom: 1px solid #eee; }

.pseudo-td { font-weight: bold;
     color: var(--bleu); }