




aside{
    padding: 20px;
    max-width: 700px;
}

#afficherIngredient, #masquerIngredient, #buttonAjouter {

border: none;
width: 150px;
height: 40px;
color: var(--blanc);
background-color: var(--rose);

}

#afficherIngredient, #buttonAjouter {
    margin: 20px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin: 0;
    
}

#ingredient, #ingredientQuantite, #sectionAjouter{
    max-height: 150px;
    overflow-y: scroll;
    border: solid var(--blanc);

}

.page-contribution {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px;
    margin-top: 50px; 
}




@media (width >= 950px) {

.page-contribution {flex-direction:row ;}

}