*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
--blanc: #f8f8f8;
}



form{ background-color: var(--jaune);
padding: 20px;
margin-right: 6px;
border: var(--rose) solid 10px;
width: 480px;
height: 80vh;
min-width: 485px ;
justify-content: center;
position: absolute;
top: 50%;
right: 3px;
transform: translateY(-50%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.button{
border-radius: 50%;
background-color: var(--beige);
width: 180px;

}


input{
    
    background-color: var(--blanc) ;
    border: var(--rose) solid 4px;
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 5px;
}


