*,
*::after,
*::before {
  box-sizing: border-box;
}


:root {
--blanc: #f8f8f8;
}

.progress-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    width:250px;
    margin:10px


    
}

.step-number{
    width:30px;
    height:30px;
    border: 3px solid var(--bleu);
    background-color: var(--beige);
    color: var(--bleu);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.4s ease-in;
    cursor: pointer;

}

.step-number.active {
    
    background-color: var(--bleu);
    color:var(--beige)
    
}

.progress-container::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--bleu);
    z-index: -1;
}

.step-progression{
 position: absolute;
    width: 33%;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--bleu);
    z-index: 1;
}



.etape.hidden{
    
    display: none;
}


.button{

border: none;
width: 150px;
height: 40px;
color: var(--blanc);


}

.button:first-child{
background-color: var(--rose);

}

.button:nth-child(2), .button:last-child{
  background-color: var(--rouge);  
  
}




main form{ background-color: var(--jaune);

margin-right: 6px;
border: var(--bleu) solid 10px;
height: 60vh;
min-width: 300px;
padding: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

main input{
    
    background-color: var(--blanc) ;
    border: var(--bleu) solid 4px;
    width: 300px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 5px;
}



@media (width >= 1050px) {
  main form {
    padding: 20px;
    min-width: 485px ;
    height: 75vh;
  }


main input {

width: 400px;
}

legend{
    font-size: 2rem;}

}






fieldset{ border: none;}

legend{
    font-size: 1.3rem;
    font-family: 'KelsonSans';
    margin: auto;
    margin-top: 8px;
}



main{

display: flex;
flex-direction: column;
justify-content:center;
align-items: center;

}
