section {
    padding: 10px;
    min-height: 80vh;
}

h1 {
    font-size: 16rem;
    margin-top: 50px;
}

.hero p {
    font-family: 'Kelson Sans';
    font-size: 2rem;
    font-weight: bold;
}

.hero #search {
    background-color: var(--rose);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px;
    width: 500px;
    margin-top: 50px;
    font-family: 'Louis George Cafe';
}

.hero #search::placeholder {
    color: #000;
    font-style: italic;
    font-size: 1rem;
}

img {
    max-width: 800px;
    display: block;
    margin-left: auto;
}

.cards {
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--jaune);
    width: 450px;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Kelson Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.card * {
    margin-bottom: 20px;
}

.card a {
    background-color: var(--rouge);
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease;
    font-family: 'Louis George Cafe', sans-serif;
}

.card a:hover {
    text-decoration: underline;
    transform: translateY(5px);
}

.img {
    background-color: var(--rouge);
    margin: auto;
    border-radius: 10px;
}

.card .img {
    height: 200px;
    width: 200px;
}

.croquette {
    background-color: var(--rose);
    height: 100vh;
}

.croquette h2 {
    font-size: 4rem;
    text-align: center;
    width: 900px;
    margin: 20px auto;
}

.croquette h3 {
    font-family: 'Kelson Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.croquette-container {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.croquette .img {
    height: 700px;
    width: 700px;
}

.gauche,
.droite {
    flex-basis: 30%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

.aliment h2 {
    padding-top: 40px;
}

.timeline {
    display: flex;
    height: 80vh;
    gap: 30px;
    overflow-x: auto;
}


.timeline-step {
    width: 90vw;
    background: var(--vert);
    padding: 20px;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.timeline-icon {
    font-size: 2rem;
    margin-bottom: 10px;
}


.timeline-step h3 {
    margin-top: 20px;
    font-size: 4rem;
    font-family: 'Kelson Sans', sans-serif;
}

.timeline-step p {
  font-size: 2rem;
  width: 80%;
  line-height: 1.3;
}


.timeline-step .point{
    height: 30px;
    width: 30px; 
    background-color: #000;
    border-radius: 50%;
    margin-top: 20px;
}

.point::after {
  content: '';
  position: absolute;
  bottom: 33px;
  right: -4.5%;
  width: 103%;
  height: 4px;
  background: #000;
  z-index: 1;
}

.timeline-step:last-child .point::after{
    display: none;
}