.radio-cachee {
  display: none;
}

.label-animal {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  filter: grayscale(100%); 
  transition: all 0.3s ease;
}

.label-animal img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid transparent;
}

@media (width >= 1050px) {
  .label-animal img {
 width: 150px;
  height: 150px;
  }

}





.radio-cachee:checked + .label-animal {
  filter: grayscale(0%); 
  transform: scale(1.1); 
}

.radio-cachee:checked + .label-animal img {
  border-color: #D1A3C4; 
}