*,
*::after,
*::before {
  box-sizing: border-box;
}


:root {
--blanc: #f8f8f8;
}



form{ background-color: var(--jaune);
padding: 20px;
margin-right: 6px;
border: var(--rose) solid 10px;
width: 480px;
height: 80vh;
min-width: 485px ;
justify-content: center;
position: absolute;
top: 50%;
right: 3px;
transform: translateY(-50%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}


#etape1, #etape2, #etape3, .dis, .etape4-1{

    display: none;
}


.button{
border-radius: 50%;
background-color: var(--beige);
width: 180px;


}




input{
    
    background-color: var(--blanc) ;
    border: var(--rose) solid 4px;
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 5px;
}


fieldset{ border: none;}

legend{
    font-size: 2rem;
    font-family: 'Nobulina';
    margin: auto;
    margin-top: 8px;
}