h1, h2, h3{
    font-family: 'Kelson Sans', sans-serif;
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2{
    font-size: 2.3rem;
}

h3{
    font-size: 1.5rem;
    margin: 25px 0; 
}

section{
    margin-bottom: 150px;
    padding: 15px;
    font-size: 1.2rem;
    line-height: 1.2;
}

section li{
    margin-left: 30px;
    margin-top: 10px;
}