body {
    overflow-x: hidden;
}

.head {
    min-height: 30vh;
    margin-top: 30px;
}

.head-gardien,
.head-compagnon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 200px;
    background-color: var(--jaune);
    border-radius: 50%;
}

.head button {
    background-color: var(--orange);
    font-family: 'Kelson Sans', sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 5px 30px;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.compagnon-modif {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    width: fit-content;
    margin: auto;
}

select {
    background-color: var(--rose);
    border: none;
    font-family: 'Kelson Sans', sans-serif;
    font-size: 1.1rem;
    padding: 3px 20px;
    border-radius: 50px;
}

.pages {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    background: none;
    border: solid var(--bleu) 5px;
    border-bottom: solid var(--bleu) 1px;
    font-family: 'Nobulina', sans-serif;
    font-size: 2.5rem;
    padding: 10px 20px;
    border-radius: 30px 30px 0 0;
    cursor: pointer;
}

.nav-btn img {
    width: 40px;
    display: block;
    margin: auto;
}

.nav-btn .text {
    display: none;
}

.nav-btn.active img {
    display: none;
}

.nav-btn.active .text {
    display: inline;
}

.gardien,
.compagnon {
    display: grid;
    grid-template-columns: 1fr;
    border: 5px solid var(--bleu);
    font-size: 1.5rem;
}

.favoris {
    border: solid 5px var(--bleu);
    margin: 0;
    padding-top: 28px;
}

.gardien h2,
.compagnon h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    border: 2px solid var(--bleu);
}

.gardien p strong,
.compagnon p strong {
    font-family: 'Kelson Sans', sans-serif;
}

.gardien>div,
.compagnon div {
    text-align: center;
    border-top: 2px solid var(--bleu);
    border-bottom: 2px solid var(--bleu);
    padding: 30px;
}

.gardien div>*,
.compagnon div>* {
    margin-bottom: 10px;
}

.icon {
    background-color: var(--rose);
    padding: 5px;
    border-radius: 50%;
    width: 60px;
}

.animal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-btn:nth-child(2).active {
    padding: 10px 10px;
}


#addBtn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.modal.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.modal>div h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal>div {
    background-color: #149353;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Kelson Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    max-height: 90vh;
    overflow-y: auto;
    display: none;
}

input,
.annuler {
    font-size: 1.2rem;
    font-family: 'Louis George Cafe', sans-serif;
    border: none;
    width: 90%;
    padding: 0.8rem;
    margin-top: 10px;
    border-radius: 5px;
}

.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn input,
.annuler {
    font-size: 1.1rem;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    transition: all 0.3s ease;
}

.annuler {
    background-color: transparent;
    border: 3px solid white;
    color: #fff;
}


@media (min-width: 768px) {
    h1 {
        font-size: 9rem;
    }

    .nav-btn {
        width: 610px;
        font-size: 3.5rem;
        padding: 10px 10px;
    }

    .nav-btn img {
        display: none;
    }

    .nav-btn .text {
        display: inline;
    }

    .gardien,
    .compagnon {
        grid-template-columns: 1fr 1fr;
    }

    .gardien h2,
    .compagnon h2 {
        font-size: 4rem;
        text-align: center;
        padding: 20px;
        grid-column: 1 / span 2;
    }

    .gardien>div,
    .compagnon div {
        text-align: start;
        border: 2px solid var(--bleu);
    }

    .animal {
        justify-content: start;
    }

    .modal>div {
        max-width: 700px;
    }

    input {
        width: 100%;
    }

    .btn input:hover,
    .annuler:hover,
    #addBtn:hover,
    .head button:hover {
        transform: translateY(5px);
    }

    #addBtn:hover .icon{
        background-color: var(--orange);
    }
}

@media (min-width: 1024px) {

    .head-gardien,
    .head-compagnon {
        margin-left: 30px;
        flex-direction: row;
        gap: 20px;
    }

    .head>button {
        margin: 0;
        margin-left: auto;
        margin-right: 20px;
    }

    .compagnon-modif {
        margin-left: auto;
        margin-right: 20px;
    }
}

@media (min-width: 1250px) {
    h1 {
        font-size: 11rem;
    }

    .nav-btn {
        font-size: 5rem;
    }
}

.section {
    display: none;
    opacity: 0; /* Par défaut pour l'animation */
}

.section.active {
    display: grid;
    opacity: 1; /* Par défaut pour l'animation */
}

.section.flex.active {
    display: flex;
    opacity: 1; /* Par défaut pour l'animation */
}

.nav-btn.active {
    background: var(--bleu);
    color: #fff;
}