main {
    padding: 10px;
}

section:first-of-type {
    padding-left: 30px;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Kelson Sans', sans-serif;
    margin-bottom: 20px;
}

.filtres {
    position: fixed;
    inset: 0;
    background: var(--jaune);
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transform: translateX(100%);
    transition: all 0.6s ease;
    z-index: 1000;
}

.filtres.active {
    transform: translateX(0);
}

.btn-close-filtres {
    position: absolute;
    bottom: 70px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-close-filtres img {
    width: 20%;
}

.btn-filtres {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--rose);
    padding: 5px 20px;
    font-size: 1.1rem;
    font-family: 'Kelson Sans', sans-serif;
    cursor: pointer;
}

.filtres form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

select {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 15px;
    font-family: 'Kelson Sans', sans-serif;
    border-radius: 30px;
    border: 3.5px solid var(--rose);
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}

select:hover {
    background-color: var(--rose);
}

.btn-reset,
form input[type="submit"] {
    font-family: 'Kelson Sans', sans-serif;
    padding: 5px 20px;
    background: none;
    background-color: var(--orange);
    border: none;
    color: var(--noir);
    border-radius: 20px;
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: var(--rose);
    border-radius: 50px;
    width: 100%;
}

.recette:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 11rem;
    }

    .dangereux h1 {
        font-size: 8rem;
    }

    .dangereux .filtres {
        display: block;
    }
}


@media (min-width: 920px) {

    .btn-filtres,
    .btn-close-filtres {
        display: none;
    }

    .btn-reset,
    form input[type="submit"] {
        width: fit-content;
        font-size: 1rem;
    }

    .filtres {
        position: static;
        transform: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        padding: 20px 0;
        margin: 20px 0;
        box-shadow: none;
        gap: 20px;
    }

    .filtres form {
        flex-direction: row;
        align-items: center;
        width: auto;
        max-width: none;
        gap: 15px;
    }

    select {
        font-family: 'Kelson Sans', sans-serif;
        padding: 3px 20px;
        border-radius: 50px;
        font-size: 1rem;
        width: fit-content;
    }
}

@media (min-width:1200px) {
    .recettes {
        max-width: 1200px;
        margin: 20px auto;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recettes-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .filtres form {
        flex-direction: column;
        align-items: baseline;
        gap: 30px;
    }

    .filtres {
        flex-direction: column;
        align-items: baseline;
        justify-content: start;
        width: fit-content;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px var(--rouge);
        position: sticky;
        top: 20px;
        left: 10px;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 30px;
        max-width: 1200px;
        margin: 20px auto;
    }
}

@media (min-width:1600px) {
    .filtres {
        top: 20px;
        left: 50px;
    }
}