main {
    padding: 10px;
}

.dangereux p {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Kelson Sans', sans-serif;
    margin-bottom: 20px;
}

.filtres {
    position: fixed;
    inset: 0;
    background: var(--jaune);
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transform: translateX(100%);
    transition: all 0.6s ease;
    z-index: 1000;
}

.filtres.active {
    transform: translateX(0);
}

.btn-close-filtres {
    position: absolute;
    bottom: 70px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-close-filtres img {
    width: 20%;
}

.btn-filtres {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--rose);
    padding: 5px 20px;
    font-size: 1.1rem;
    font-family: 'Kelson Sans', sans-serif;
    cursor: pointer;
}

.filtres form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

select {
    width: 100%;
    background-color: var(--rose);
    border: none;
    font-size: 1.2rem;
    padding: 0 15px;
    font-family: 'Kelson Sans', sans-serif;
    border-radius: 30px;
    border: 2px solid var(--noir);
}

.btn-reset,
form input[type="submit"] {
    font-family: 'Kelson Sans', sans-serif;
    padding: 5px 20px;
    background: none;
    background-color: var(--orange);
    border: none;
    color: var(--noir);
    border-radius: 20px;
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    cursor: pointer;
}

form input[type="submit"] {
    background-color: var(--rouge);
    border-radius: 50px;
    color: #fff;
    width: 100%;
}

.recette:hover {
    transform: translateY(-5px);
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 11rem;
    }

    .dangereux h1 {
        font-size: 8rem;
    }

    .dangereux .filtres {
        display: block;
    }
}


@media (min-width: 820px) {

    .btn-filtres,
    .btn-close-filtres {
        display: none;
    }

    .btn-reset,
    form input[type="submit"] {
        width: fit-content;
        font-size: 1rem;
    }

    .filtres {
        position: static;
        transform: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        padding: 20px 0;
        margin: 20px 0;
        box-shadow: none;
        gap: 20px;
    }

    .filtres form {
        flex-direction: row;
        align-items: center;
        width: auto;
        max-width: none;
        gap: 15px;
    }

    select {
        background-color: var(--rose);
        border: none;
        font-family: 'Kelson Sans', sans-serif;
        padding: 3px 20px;
        border-radius: 50px;
        font-size: 1rem;
        width: fit-content;
    }
}