*,
*::after,
*::before{ box-sizing: border-box;}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

h1, p{
    text-align: center;

}

p{margin-left: 10px;
margin-right: 10px;}

.boutton{
margin-top: 20px;
}

.boutton a {background-color: var(--rose);
padding: 5px 15px;
border-radius: 20px;
transition: all 0.3s ease;


}