@font-face {
    font-family: 'Kelson Sans';
    src: url('../polices/KelsonSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kelson Sans';
    src: url('../polices/KelsonSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../polices/LouisGeorgeCafe-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../polices/LouisGeorgeCafe.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nobulina';
    src: url('../polices/NobulinaDemo-Inktrap.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --beige: #FFE8CE;
    --rouge: #AD0000;
    --jaune: #FFBF35;
    --rose: #F791C3;
    --vert: #006732;
    --bleu: #116FD1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--beige);
    font-family: 'Louis George Cafe', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

a{
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    font-family: 'Kelson Sans';
    font-weight: bold;
    font-size: 1.05rem;
    transition: all 0.3s ease-in;
}

.active{
    border-bottom: #000 2px solid;   
}

.navbar a:hover {
    border-bottom: #000 2px solid;
    padding: 0 10px;
}

.connexion a {
    background-color: var(--jaune);
    padding: 5px 20px;
    border-radius: 20px;
}

.connexion a:nth-child(2){
    background-color: #E63C23;
}

.connexion a:hover{
    transform: translateY(5px);
}

h1,
h2,
h3 {
    font-family: 'Nobulina', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 11rem;
}

h2{
    font-size: 7rem;
}

.recettes, .favoris {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-items: center;
    gap: 15px;
    margin-top: 20px;
    padding: 10px;
}

.recette {
    background-color: var(--bleu);
    padding: 20px;
    width: 340px;
    height: 450px;
    border-radius: 10px;
    background-image:
        radial-gradient(circle at center, var(--beige) 10px, transparent 10px),
        linear-gradient(#FFBADD 3px, transparent 3px);
    background-size:
        50px 50px,
        90% 40px;
    background-repeat:
        repeat-x,
        repeat-y;
    background-position:
        center top,
        center top;
    color: #fff;
    position: relative;
}

.recette h2 {
    font-size: 2rem;
    margin-top: 20px;
}

.temps,
.badge {
    display: flex;
    align-items: center;
    gap: 10px;
}

.temps {
    margin-top: 10px;
    font-size: 1.2rem;
}

.recette .img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: var(--jaune);
    position: relative;
    left: 95px;
    bottom: 10px;
    transform: rotate(0.06turn);
}

.badge {
    background-color: var(--jaune);
    width: fit-content;
    padding: 3px 10px 3px 3px;
    border-radius: 20px;
    color: #000;
    font-family: 'Kelson Sans', sans-serif;
    position: absolute;
    left: 180px;
    transform: rotate(-0.04turn);
}

.badge img,
.btn-favoris img, .btn-supp img{
    background-color: var(--rouge);
    border-radius: 50%;
    padding: 3px;
}

.btn-favoris img, .btn-supp img {
    width: 40px;
    background-color: #fff;
}

.btn-favoris, .btn-supp{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.rien{
    font-size: 1.5rem;
    font-weight: bold;
}