body {
    font-family: 'Louis George Cafe', sans-serif;
}

/* ===============
   MOBILE FIRST 
   =============== */

/* Barre de recherche mobile */
.form {
    margin: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bleu);
    border-radius: 20px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.form input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px 12px 45px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.form button {
    width: 100%;
    padding: 12px;
    background-color: var(--jaune);
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

/* Container & Liste */
.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    gap: 30px;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 600px;
    overflow-y: auto;
}

/* Carte Vétérinaire Mobile */
.card-vet {
    background-color: var(--bleu);
    border-radius: 14px;
    padding: 15px;
    line-height: 1.2;
}

.card-vet-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-vet h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.card-vet .note {
    font-size: 1rem;
}

.card-vet a {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--jaune);
    border-radius: 20px;
    font-family: 'Kelson Sans', sans-serif;
    font-size: 1.1rem;
    display: block;
    margin: 10px 0;
    text-align: center;
}

.separator {
    border-top: 1px solid #000;
    margin: 0 15px 20px;
}

/* Map - cachée ou petite sur mobile */
#map {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    border: solid 2px var(--bleu);
}

/* Fiche détaillée Mobile (vet-header) */
.container-vet {
    padding: 20px;
}

.vet-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.vet-photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--bleu);
}

.vet-info h1 {
    font-size: 4rem;
    text-align: center;
    margin: 20px;
}

.vet-description {
    font-size: 1.15rem;
    line-height: 1.3;
    margin-bottom: 20px;
}

.vet-contact h2 {
    margin-bottom: 15px;
}

.vet-contact img {
    width: 40px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
}

.recettes{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
/* ==========================================================================
   TABLETTES ET DESKTOP (Min-width: 768px)
   ========================================================================== */
@media (min-width: 768px) {

    .form {
        flex-direction: row;
        max-width: 1100px;
        margin: 30px auto;
        border-radius: 50px;
        padding: 6px;
        gap: 0;
    }

    .form input[name="name"] {
        border-radius: 40px 0 0 40px;
    }

    .form input[name="city"] {
        border-left: 2px solid #000;
        border-radius: 0 40px 40px 0;
    }

    .form button {
        width: auto;
        padding: 8px 38px;
        margin-left: 10px;
    }

    .container {
        flex-direction: row;
        max-width: 1300px;
        margin: 0 auto;
    }

    .results {
        width: 55%;
    }

    #map {
        width: 45%;
        height: 650px;
        position: sticky;
        top: 20px;
    }

    .card-vet a {
        width: 40%;
    }

    .vet-photo img {
        width: 450px;
        height: 300px;
        border-radius: 20px;
    }

    .vet-description{
        max-width: 800px;
        margin: 0 auto 20px;
    }

}

/* ==========================================================================
   LARGE DESKTOP (Min-width: 1200px)
   ========================================================================== */
@media (min-width: 1200px) {

    /* Fiche détaillée Desktop */
    .vet-header {
        display: grid;
        grid-template-columns: 450px 1fr;
        gap: 60px;
        text-align: left;
        width: fit-content;
        margin: auto;
    }

    .vet-info h1 {
        font-size: 7rem;
        text-align: start;
        margin: 0;
    }

    .vet-description{
        margin: 0;
        margin-bottom: 20px;
    }

    .recipes-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}